<%- include("header"); -%>

<div id="principal">    
    <div id="line1">
        <div id="info">
            Cidade: <%- data.name %> <br>
            Pais: <%- data.sys.country %>
        </div>
        <div id="coords">
            Longitude<%- data.coord.lon  %><br>
            Latitude<%- data.coord.lat  %> 
        </div>
    </div>
    <div id="line2">
        <div id="temp">
            <%- data.main.temp %> ºC
        </div>

        <div id="information">        
           
            <div id="description">
                <%= data.weather[0].description %>
            </div>
            
            <div id="sensacao">
                Sensação Térmica <%- data.main.feels_like %> ºC
            </div>

        </div>
    </div>
    <div id="line3">
        <div id="minMax">
            <div id="min">
                Minímo <%- data.main.temp_min %> ºC
            </div>
            <div id="max">
                Maximo <%- data.main.temp_max %> ºC
            </div>
        </div>

        <div id="humidity">
            Humidade <br> <%- data.main.humidity %>%
        </div>
        <div id="visibility">
            Visibilidade <br> <%- data.visibility/1000 %> Km
        </div>
        <div id="pressure">
            Pressao <br> <%- data.main.pressure %> mb
        </div>
    </div>

</div>

<%-include("footer"); -%>